*{
    font-size: 20px;
}

body {
    background-color: #0a0a23;
}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 20px;
}

#game {
    max-width: 50%;
    max-height: 200vmin;
    background-color: #ffffff;
    color: #ffffff;
    margin: 80px auto 0px;
    padding: 20px;
    border-radius: 10px;
}

#controls,
#stats {
    border: 1px solid #0a0a23;
    padding: 10px;
    color: #0a0a23;
}

#monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 10px;
    color: #ffffff;
    background-color: #c70d0d;
}

.stat {
    padding-right: 20px;
}

button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    margin: 2px;
}